h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.2rem;
}

/* Side  navbar */
.sidebar nav {
  padding: 5rem;
  text-align: center;
}
.sidebar nav li {
  font-size: 1.5rem;
  padding: 1rem 0;
  letter-spacing: 0rem;
}
.sidebar {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: transform 0.4s ease-in;
  background: #fff;
}
/* Scroll to top */
#topBtn {
  font-size: 0.8rem;
  padding: 0.2rem;
}

/* Common for most pages*/
.mainContainer,
.aboutContainer,
.toolContainer,
.photoContainer,
.designContainer,
.devContainer {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.about,
.tool,
.flag,
.design,
.dev {
  margin-top: -4rem;
}

/* Main Home Page */
.info {
  margin-top: 2rem;
  line-height: 1;
  letter-spacing: -0.02rem;
}
.logo {
  width: 2rem;
}

/* About Page */
.aboutContainer {
  margin-top: 0rem;
}
.about {
  flex-direction: column;
}
.aboutText p {
  margin: 0.5rem;
  line-height: 1.2;
  font-size: 0.9rem;
}
blockquote {
  font-size: 0.9rem;
}
.pic img {
  height: 8rem;
}

/* Tools */
#tools {
  margin-top: 4rem;
}
.toolContainer {
  margin-top: 3rem;
}
.toolContainer div {
  margin-bottom: 1rem;
}
.toolContainer img {
  max-width: 2rem;
  margin: 0rem 3rem;
}
.toolContainer p {
  font-size: 0.8rem;
  margin: 0 2rem;
  font-weight: 400;
}
.toolContainer span {
  font-size: 1rem;
  margin: -12rem 0 0 0;
}
.flag {
  margin-top: -18rem;
  flex-wrap: wrap;
}

/* Photo page */
#photo {
  margin-top: 4rem;
}
.photo {
  flex-direction: column;
  gap: 3rem;
  margin-top: -21rem;
}

.photoContainer img {
  width: 8rem;
  margin: 1rem;
}

/* Design page */
#design {
  margin-top: 4rem;
}
.design {
  display: flex;
  flex-wrap: wrap;
}
.designContainer .design figure img {
  max-height: 20vh;
}

/* Webdev page */
#webdev {
  margin-top: 4rem;
}
.dev {
  /* margin-top: -15rem; */
  display: flex;
  flex-direction: column;  
}
.devContainer img {
  max-height: 13vh;
  margin: 0.3rem;
}

/* Contact Page */
#contact {
  margin-top: 6rem;
}
.contactContainer .social {
  display: flex;
}
.contactContainer .social img {
  width: 2rem;
}
