h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
}

/* Side  navbar */

.sidebar nav {
  padding: 2rem 0 0 1rem;
}
.sidebar nav li {
  font-size: 0.6rem;
  padding: 0.2rem 0;
  letter-spacing: 0rem;
}

/* Scroll to top */
#topBtn {
  font-size: 0.8rem;
  padding: 0.2rem;
}

/* Common for most pages*/
.mainContainer,
.aboutContainer,
.toolContainer,
.photoContainer {
  height: 120vh;
  width: 100%;
  margin: 0 auto;
}
.about,
.tool,
.flag,
.design,
.dev {
  margin-top: -8rem;
}

/* Main Home Page */
.info {
  line-height: 1;
  letter-spacing: -0.1rem;
}
.logo {
  width: 2rem;
}

/* About Page */
.aboutContainer {
  margin-top: -2rem;
}
.about {
  flex-direction: column;
}
.aboutText {
  margin: 0 0.5rem;
  line-height: 1.2;
  font-size: 0.8rem;
}
blockquote {
  font-size: 0.8rem;
}
.pic img {
  height: 5rem
}

/* Tools */
.toolContainer {
  margin-top: 4.5rem;
}
.toolContainer img {
  max-width: 2rem;
  margin: 0rem 2rem;
}
.toolContainer p {
  font-size: 0.8rem;
  margin: 0 2rem 0 0;
  font-weight: 400;
}
.toolContainer span {
  font-size: 1rem;
  margin: -12rem 0 0 0;
}
.flag {
  margin-top: -33rem;
  flex-wrap: wrap;
}

/* Photo page */
.photo {
  flex-direction: column;
  gap: 3rem;
  margin-top: -21rem;
}

.photoContainer img {
  width: 8rem;
  margin: 1rem;
}

/* Design page */
.designContainer {
  margin: 1rem auto;
}
.design {
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
}
.designContainer img {
  max-height: 15vh;
}

/* Webdev page */
.dev {
  margin: 0rem auto;
  display: flex;
  flex-direction: column;
}
.devContainer {
  margin-top: -3rem;
  margin-bottom: 5rem;
}
.devContainer img {
  max-height: 20vh;
}

/* Contact Page */
.contactForm {
  margin-top: -3rem;
}
.contactForm label {
  font-size: 0.8rem;
}
.formText {
  font-size: 0.5rem;
}
.contactContainer .social img {
  width: 1rem;
}
.btn {
  padding: 0.1rem;
  font-size: 0.5rem;
}
