h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.2rem;
}

/* Side  navbar */
.sidebar nav {
  padding: 2rem 0 0 1rem;
}
.sidebar nav li {
  font-size: 1rem;
  padding: 0.3rem 0;
  letter-spacing: 0rem;
}

/* Scroll to top */
#topBtn {
  font-size: 0.8rem;
  padding: 0.2rem;
}

/* Common for most pages*/
.mainContainer,
.aboutContainer,
.toolContainer,
.photoContainer,
.devContainer {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.about,
.tool,
.flag,
.design,
.dev {
  margin-top: -3rem;
}

/* Main Home Page */
.info {
  margin-top: 2rem;
  line-height: 1;
  letter-spacing: -0.02rem;
}
.logo {
  width: 2rem;
}

/* About Page */
.aboutContainer {
  margin-top: 1.2rem;
}
.about {
  flex-direction: column;
}
.aboutText {
  margin: 0 0.5rem;
  line-height: 1.2;
  font-size: 0.9rem;
}
blockquote {
  font-size: 0.9rem;
}
.pic img {
  height: 8rem;
}

/* Tools */
.toolContainer {
  margin-top: 2rem;
}
.toolContainer div {
  margin-bottom: 1rem;
}
.toolContainer img {
  max-width: 2rem;
  margin: 0rem 3rem;
}
.toolContainer p {
  font-size: 0.8rem;
  margin: 0 2rem;
  font-weight: 400;
}
.toolContainer span {
  font-size: 1rem;
  margin: -12rem 0 0 0;
}
.flag {
  margin-top: -18rem;
  flex-wrap: wrap;
}

/* Photo page */
.photo {
  flex-direction: column;
  gap: 3rem;
  margin-top: -21rem;
}

.photoContainer img {
  width: 8rem;
  margin: 1rem;
}

/* Design page */
.design {
  display: flex;
  flex-wrap: wrap;
}
.designContainer img {
  max-height: 20vh;
}

/* Webdev page */
.dev {
  margin-top: -15rem;
  display: flex;
  flex-wrap: wrap;
}
.devContainer img {
  max-height: 13vh;
  margin: 0.3rem;
}

/* Contact Page */
.contactContainer .social img {
  width: 1.5rem;
}
