/* Utility */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  overflow-x: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  color: #527381;
  /* min-height: 100vh; */
  background-color: #f4f3ee;
}
h2 {
  font-size: 5rem;
  font-weight: 500;
}
h3 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  /* color: #ec6834; */
}
h4 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
}

/* Side  navbar */
.sidebar {
  position: absolute;
  height: 100%;
  transition: transform 0.3s ease-in;
}
.sidebar nav {
  padding: 3rem 0 0 2rem;
}
.sidebar nav li {
  list-style: none;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
}
.sidebar nav li a {
  text-decoration: none;
  color: #527381;
  cursor: pointer;
  transition-duration: 0.3s;
}
.sidebar nav li a:hover {
  color: #ec6834;
  font-weight: 600;
}
.sidebarGo {
  transform: translate(-443px, 0px);
  position: absolute;
}
.hamburger {
  position: absolute;
  cursor: pointer;
  top: 0.6rem;
  left: 0.5rem;
}
.ham,
.cross {
  margin-left: 0.5rem;
  width: 1.5rem;
}

/* Scroll to top */
#topBtn {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1.1rem;
  z-index: 99;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #ec6834;
  color: #f4f3ee;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#topBtn:hover {
  color: #ec6834;
  background-color: #f4f3ee;
}

/* Common for most pages*/
.container {
  background-color: #f4f3ee;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.mainContainer,
.aboutContainer,
.toolContainer,
.photoContainer,
.designContainer,
.devContainer,
.contactContainer {
  background-color: #f4f3ee;
  height: 93vh;
  width: 65%;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.about,
.tool,
.flag,
.photo,
.design,
.dev {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: -10rem;
}

/* Main Home Page */
.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-weight: 800;
  text-align: center;
  line-height: 0.9;
  letter-spacing: -0.3rem;
}
.logo {
  width: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: -10rem;
}
.orange {
  color: #ec6834;
}
.blue {
  color: #527381;
}

/* About Page */
.aboutText {
  margin: 0 2rem;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
}
blockquote {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ec6834;
}
.pic img {
  height: 15rem;
  border: #ec6834 0.2rem solid;
  border-radius: 21rem;
  padding: 0.3rem;
}

/* Tools */
.tool {
  flex-wrap: wrap;
}
.toolContainer img {
  max-width: 5rem;
  align-items: center;
  margin: 3rem 2rem 0 0;
}
.toolContainer p {
  font-size: 1rem;
  text-align: center;
  margin: 0 2rem 0 0;
  font-weight: 400;
}
.toolContainer span {
  font-size: 1.3rem;
  margin: -8rem 1rem 0 0;
}


/* Photo page */
.photo {
  align-items: baseline;
  flex-wrap: wrap;
}
.photoContainer img {
  width: 15rem;
  height: auto;
  margin: 2rem;
}
.photoContainer a {
  height: 1rem;
}
.photoContainer a:hover {
  opacity: 0.5;
}

/* Design page */
.designContainer img {
  max-height: 25vh;
  width: auto;
  opacity: 0.6;
  cursor: zoom-in;
  margin: 0 0.5rem;
}
.designContainer img:hover {
  opacity: 100;
  max-height: 65vh;
  margin: 0em;
  transition: max-height 3s;
}

/* Webdev page */
.devContainer img {
  max-height: 40vh;
  width: auto;
  opacity: 0.6;
  cursor: pointer;
  margin: 0.5rem;
}
.devContainer img:hover {
  opacity: 100;
}

/* Contact Page */
.contactContainer form div {
  padding: 0.3rem;
  text-align: center;
}
.contactContainer input {
  height: 4vh;
  width: 25vw;
  border: none;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  font-weight: 200;
}
.contactContainer label {
  font-weight: 500;
}
.contactContainer textarea {
  width: 25vw;
  border: none;
  font-family: 'Poppins', sans-serif;
  padding: 1rem;
  font-weight: 200;
}
.btn {
  margin-top: 0rem;
  background-color: #ec6834;
  color: #f4f3ee;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
  width: 25vw;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.btn:hover {
  background-color: #f4f3ee;
  color: #ec6834;
}
.contactContainer img {
  max-width: 2vw;
  margin: 1rem;
  opacity: 1;
	transition: .3s ease-in-out;
}
.contactContainer img:hover {
  opacity: .5;
}
.formText {
  font-size: 0.6rem;
}
/* Footer */
.footer {
  color: #527381;
  font-size: 0.6rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  /* background-color: #f4f3ee; */
}

/* Responsive */
@media (max-width: 1024px) {
  .pic {
    display: none;
  }
  .infocontainer,
  .aboutContainer,
  .contactForm {
    margin: 1rem, 0.5rem;
  }
}
