* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body,
html {
  overflow-x: hidden;
}
body {
  color: #efefef;
  background: #00434d;
}

h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}
h4 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: 600;
}

/* Navbar */
.navbar,
.navbar-burger,
.menu {
  position: fixed;
}
button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.navbar {
  /* z-index: 1; */
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  padding-top: 1rem;
  z-index: 5;
}
.navbar a {
  font-family: 'Fjalla One', sans-serif;
  color: #00b085;
  font-size: 1.5rem;
  margin-left: 2rem;
  transition: 700ms ease;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}
.navbar a:hover {
  letter-spacing: 1px;
}
.navbar > button {
  font-size: 2rem;
}
.navbar-burger {
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 72px;
  height: 72px;
  background-image: url("assets/menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;
}
body.open .navbar-burger {
  background-image: url("assets/close.svg");
}
.menu {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
  width: 100%;
  height: 8%;
  background: #ffd16665;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  z-index: 5;
}
body.open .menu {
  opacity: 1;
  visibility: visible;
}
.menu > a {
  color: #efefef;
  font-size: 1.5rem;
  transition: 600ms ease;
  padding: 0.5rem;
  text-transform:lowercase;
}
.menu > a:hover {
  /* background-color: #000; */
  border-radius: 100%;
  color: #00b085;
}
body.open .menu > a {
  animation: appear 0.3s both;
}
@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 50px;
  }
  100% {
    opacity: 1;
  }
}

/* Scroll to top */
#topBtn {
  display: none;
  position: fixed;
  bottom: 5rem;
  right: 1.1rem;
  z-index: 1;
  font-size: 1rem;
  border: none;
  outline: none;
  background-color: #ffd166;
  color: #000;
  cursor: pointer;
  padding: 0.8rem 0.3rem;
  border-radius: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0rem 0.10rem 0.5rem;
}
#topBtn:hover {
  background-color: #feb50a;
}
/* Common for most pages*/

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.mainContainer,
.aboutContainer,
.toolContainer,
.photoContainer,
.designContainer,
.devContainer,
.dataContainer {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
.about,
.tool,
.flag,
.photo,
.design,
.dev,
.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* Main Home Page */
.container .mainContainer {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  line-height: 1;
  letter-spacing: -0.2rem;
  padding-left: 1.5rem;
}
.container .mainContainer h1 {
  font-size: 6rem;
  font-weight: 500 ;
  max-width: 40rem;
  color: #c7e1d9;
}

/* About Page */
#about {
  background: #c7e1d9;
  color: #1d1d1d;
}
.about {
  margin-top: -5rem;
}
.aboutText p {
  margin: 0 3rem;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: justify;
}
blockquote {
  font-size: 1.2rem;
  font-weight: 500;
}
.pic img {
  height: 15rem;
  border: #1d1d1d 0.2rem solid;
  border-radius: 21rem;
  padding: 0.3rem;
}

/* Tools */
.tool, .flag {
  flex-wrap: wrap;
  /* padding-top: 3rem; */
  margin-top: -5rem;
}
.toolContainer img {
  max-height: 4rem;
  align-items: center;
  margin: 3rem 2rem 0 0;
}
.toolContainer p {
  font-size: 1rem;
  text-align: center;
  margin: 0 2rem 0 0;
  font-weight: 400;
}
.toolContainer span {
  font-size: 1.1rem;
  margin-right: 1rem;
  margin-top: -2rem;
}


/* Photo page */
#photo {
  background: #00b085;
  color: #efefef;
}
.photo {
  align-items: baseline;
  flex-wrap: wrap;
}
.photoContainer img {
  width: 15rem;
  height: auto;
  margin: 3rem;
}
.photoContainer a {
  height: 1rem;
}
.photoContainer a:hover {
  opacity: 0.5;  
}

/* Design page */
.designContainer .design figure img {
  max-height: 25vh;
  width: auto;
  opacity: 0.6;
  cursor: zoom-in;
  margin: 0 0.5rem;
}
.designContainer .design figure img:hover {
  opacity: 100;
  max-height: 50vh;
  margin: 0em;
  transition: max-height 3s;
}
.designContainer .design figure figcaption {
  font-size: 0.7rem;
}

/* Webdev page */
#webdev {
  background: #00b085;
  color: #efefef;
}
.dev {
  display: flex;
  align-items: center;
  justify-content: center;
}
.devContainer .dev_items {
  display: flex;
  flex-direction: column;
}
.devContainer .dev_items figure img {
  max-height: 32vh;
  width: auto;
  opacity: 0.6;
  cursor: pointer;
  margin: 0.5rem;
}
.devContainer .dev_items figure img:hover {
  opacity: 100;
}

/* Data Page */
.data {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tracking-in-expand figcaption {
  font-size: 5rem;
}
/* .dataContainer .data_items {
  display: flex;
  flex-direction: column;
} */
/* .dataContainer .data_items figure img {
  max-height: 32vh;
  width: auto;
  opacity: 0.6;
  cursor: pointer;
  margin: 0.5rem;
} */
/* .dataContainer .data_items figure img:hover {
  opacity: 100;
} */
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.550, 0.055, 0.675, 0.190) 0.1ms infinite alternate both;
	        animation: tracking-in-expand 2s cubic-bezier(0.550, 0.055, 0.675, 0.190) 0.1ms infinite alternate both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* Contact Page */
#contact {
  background: #efefef;
}
.contactContainer {
  height: 53vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
}
#contact h4 {
  color: #00434d;
}
.contactContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contactContainer .social {
  padding: 0.5rem;
}
.contactContainer .social img {
  width: 4rem;
  margin: 0.5rem;
  padding: 3px;
  opacity: 1;
  float:left;
}
.contactContainer img:hover {
  opacity: .5;
}
.formText {
  font-size: 0.6rem;
}
.contactContainer .resume a {
  background-color: #00b085;
  font-size: 1rem;
  color: #efefef;
  padding: 0.5rem;
  border-radius: 5rem;
}
.contactContainer .resume a:hover {
  background-color: #05795c;
}
/* Footer */
.footer {
  color: #efefef;
  font-size: 0.7rem;
  bottom: 0;
  padding: 2rem 2rem 0rem 2rem;
  width: 100%;
  height: auto;
  text-align: center;
}
.footer .menu-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}
.footer .menu-footer a {
  font-size: 2rem;
  color: #efefef;
  margin: 1rem;
  text-transform: lowercase;
}
.footer .menu-footer a:hover {
  color: #00b085;
}


