html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #ffd670;
}
h1 {
  color: #495867;
  font-size: 5em;
  font-family: "Montserrat", sans-serif;
  width: 70vw;
}
h2 {
  color: #495867;
  text-align: center;
  font-size: 2em;
}
h3 {
  color: #495867;
  font-size: 4.5em;
}
h4 {
  color: #495867;
  font-size: 1.3em;
  font-weight: 200;
}
span {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
}
.flex {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

/* Navigation bar */
.navbar {
  /* background-color: #fff; */
  /* position: fixed; */
  width: 100%;
  text-align: center;
  list-style-type: none;
}
.navbar ul li {
  width: 150px;
  display: inline;
}
.navbar ul li a {
  text-decoration: none;
  color: #495867;
  font-size: 6.2rem;
  font-family: "Montserrat", sans-serif;
  padding: 2rem;
  letter-spacing: -0.3rem;
}
.navbar ul li a:hover {
  color: #fff;
}
/* Viewport middle page */
.container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  /* z-index: 2; */
}
/* Main header */
#container-head {
  background-color: #ffd670;
  height: 95vh;
  padding-top: 4rem;
  line-height: 1;
}

/* Skill Section */
#container-top {
  background-color: #ffd670;
  height: 98vh;
}
.top-title {
  padding: 3rem 0;
}
.flip-card {
  background-color: transparent;
  width: 20vw;
  height: 40vh;
  perspective: 60rem;
}
.flip-card-inner {
  position: relative;
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
  box-shadow: 0 0.5rem 1rem 0 #000;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-top: 1.25rem;
}
.flip-card-front {
  background-color: #ffd670;
  border-radius: 1.25rem;
}
.flip-card-back {
  background-color: #ffd670;
  /* border-radius: 1.25rem; */
  transform: rotateY(180deg);
}
.flip-card img {
  width: 5vw;
  height: 10vh;
}
/* Project Section */
#container-middle {
  background-color: #ffd670;
  height: 350vh;
  width: 100%;
  padding: 3rem 0;
}
#container-middle .poster-title span {
  display: flex;
  justify-content: center;
  padding: 1rem;
  font-family: "Poppins", sans-serif;
  color: #495867;
}
#container-middle .poster,
.posterHorizontal {
  display: flex;
  justify-content: center;
}
#container-middle .poster img {
  height: 43vh;
  width: auto;
  padding: 0 0.3rem 2rem 0.3rem;
}
#container-middle .posterHorizontal img {
  height: 60vh;
  width: auto;
  padding-bottom: 2rem;
}
#container-middle .play {
  display: flex;
}
#container-middle .play p {
  font-size: small;
  font-weight: 200;
  color: #495867;
  text-align: center;
  padding-top: 15px;
}
#container-middle .poster .play img {
  max-height: 4rem;
  width: auto;
}
#container-middle a {
  font-size: 1rem;
  font-weight: 600;
  color: #495867;
  text-decoration: none;
}

/* About Page */
#container-bottom {
  background-color: #ffd670;
  height: 98vh;
  width: 100%;
  padding: 3rem 0;
}
.photo img {
  height: 40vh;
  width: auto;
  float: left;
}
#container-bottom .text {
  max-height: 56rem;
  max-width: 37rem;
}
blockquote {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
}

/* CV */
.cv a {
  font-weight: 700;
  color: #495867;
  text-decoration: none;
}
a:hover {
  color: #fff;
}
.social img {
  max-height: 2rem;
  background-color: #fff;
  border: none;
  border-radius: 1rem;
  margin: 3rem 1rem 3rem 1rem;
}
.social a:hover {
  transform: scale(1.2);
}
/* Footer */
.footer {
  width: 100%;
  max-height: 2rem;
  bottom: 0;
  display: flex;
  justify-content: center;
  position: fixed;
}
.footer p {
  color: #000;
  padding: 0.2rem;
  font-size: 0.8em;
}
