.navbar-burger {
  width: 55px;
  height: 55px;
}
.menu > a {
  font-size: 1.1rem;
  transition: 600ms ease;
  padding: 0rem;
  text-transform:lowercase;
}
h2 {
  font-size: 2.5rem;
}

/* Common for most pages*/
.mainContainer,
.aboutContainer,
.toolContainer,
.photoContainer,
.designContainer,
.devContainer,
.dataContainer {
  height: 100vh;
  width: 90%;
  margin: 0 auto;
}
.about,
.tool,
.flag,
.photo
.design,
.dev,
.data {
  margin-top: -8rem;
}

/* Main Home Page */
.container .mainContainer h1 {
  font-size: 4rem;
}

/* About Page */
.about {
  flex-direction: column;
}
.aboutText p {
  margin: 0 0.5rem;
  line-height: 1;
  font-size: 1rem;
}
.aboutText blockquote {
  margin-top: 1rem;
  font-size: 1.1rem;
}
.pic img {
  height: 6rem
}

/* Tools */
.toolContainer {
  margin-top: 5rem;
}
.toolContainer div {
  margin-bottom: 1.2rem;
}
.toolContainer img {
  max-width: 3.5rem;
  margin: 0;
}
.toolContainer p {
  font-size: 0.9rem;
  margin: 0 2rem;
}
.toolContainer span {
  font-size: 1rem;
  margin: -15rem 0 0 0;
}
.flag {
  margin-top: -14rem;
}
.flag img {
  margin: 0.5rem;
}

/* Photo page */
.photoContainer {
  margin-top: -5rem;
}
.photo img {
  width: 12rem;
  height: auto;
  margin: 2rem;
}

/* Design page */
.designContainer .design figure img {
  max-height: 18vh;
}

/* Webdev page */
.dev{
  flex-wrap: wrap;
  margin-top: -1rem;
}
.devContainer .dev .dev_items figure img {
  max-height: 30vh;
  width: auto;
}
.devContainer .dev .dev_items figcaption {
  margin-top: -0.5rem;
  margin-bottom: 1rem;
}

/* Data Page */
.tracking-in-expand figcaption {
  font-size: 4rem;
}

/* Contact Page */
.contactContainer .social img {
  width: 3rem;
}

/* Footer */
.footer .menu-footer a {
  font-size: 1.5rem;
  margin: 0.5rem;
}

